**/.idea/**/*
!.idea/codeStyleSettings.xml
.idea/*.xml
/.idea/*.xml
*.iml
*.log
/*.log
.nrepl-port
pom.xml
pom.xml.asc
*.jar
.lein-deps-sum
./.lein-repl-history
.lein-plugins/
.lein-failures
core/
out/
target/
/target
/bckp
bckp/
compiled/
misc/
/*-init.clj
/examples/todomvc/resources/public/js/
/examples/simple/resources/public/js/
.floo
.flooignore
/resources/public/js/compiled
node_modules/
examples/todomvc/.idea/
docs/build/_book/
docs/build/index.html
docs/**/*.epub
docs/**/*.pdf
docs/**/*.mobi
build/
figwheel_server.log
.rebel_readline_history
.lein-repl-history
dev-config.edn
prod-config.edn
homolog-config.edn
*~
/bckp
bckp/*
/bckp/*